.snake{
    background-color: forestgreen;
    height: 2rem;
    width: 2rem;
}

.board {
    background-color: lightgrey;
    height: 2rem;
    width: 2rem;
}

.apple {
    background-color: orangered;
    height: 2rem;
    width: 2rem;
}

.game {
    border: 5px solid black;
    width: auto;
}

.txtControl {
    width: 27%;
}

.btnPlay {
    width: 27%;
}