.snake {
    background-color: forestgreen;
    height: 1rem;
    width: 1rem;
}

.board {
    background-color: whitesmoke;
    height: 1rem;
    width: 1rem;
}

.apple {
    background-color: orangered;
    height: 1rem;
    width: 1rem;
}

.game {
    background-color: whitesmoke;
}

tr {
    border-top: 1px solid #ccc;
}

td {
    border-right: 1px solid #ccc;
}